// Define color variables
$primary-color: #9ac5c2; // Verde colab
$secondary-color: #6c757d; // Gris
$tertiary-color: #013f81; // Azul
$background-color: #f8f9fa; // Blanco
$text-color: #343a40; // Gris oscuro
$font-family: 'Roboto', sans-serif;


// Apply colors to body

body 
{
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;

}




//Hero styles

.hero {
    background-color: $primary-color;
    color: $background-color;
    
    .fab {
      color:$background-color;

      &:hover {
        transform: scale(1.5); 
    }
    }
}

// Navbar styles

.navbar {

  .d-inline-block
{
  transition: transform 0.5s ease; // Añade una transición suave

  &:hover {
    transform: scale(1.2); 

        }
    }
  }

.nav-item {
    color: $text-color;
    transition: background-color 0.3s ease, color 0.3s ease; // Añade una transición suave
    
    &:hover {
      background-color: $primary-color; // Fondo del color principal al hacer hover
      color: $background-color; // Color del texto al hacer hover
    }
}
     
.h1 {
  color: $text-color;
  font-family: $font-family;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4rem; 
  margin-top: -0.5rem; 
}
  

h2 {
  color: $text-color;
  font-family: $font-family;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  margin-top: -0.90rem;   
}



  //Main styles
.carousel-item {
  position: relative;

  img {
      width: 100vw; // Ancho máximo del 100% de la ventana
      height: 70vh; // Largo máximo del 80% de la ventana
      object-fit: cover; // Ajusta la imagen para cubrir el contenedor
  }

  &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      pointer-events: none; // Asegura que el gradiente no interfiera con la interacción del usuario
  }
}

h3 {
  color: $background-color;
  font-family: $font-family;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem; 
}

h4 {
  color: $background-color;
  font-family: $font-family;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.btn {
  background-color: $background-color;
  color: black;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease; // Añade una transición suave

  &:hover {
    background-color: $primary-color; // Fondo del color principal al hacer hover
  }
}

// About Us styles
.about-us {
  background-color: $background-color;
  padding: 2rem 0;

  .about-block {
      background-color: $background-color;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 2rem;
      border-radius: 8px;
      

      i {
          color: $primary-color;
          margin-bottom: 1rem;
      }

      h3 {
          margin-top: 1rem;
          margin-bottom: 1rem;
          color: $text-color;
      }

      p {
          color: $text-color;
      }
  }
}