// Define color variables
$primary-color: #9ac5c2; // Verde colab
$secondary-color: #6c757d; // Gris
$tertiary-color: #013f81; // Azul
$background-color: #f8f9fa; // Blanco
$background-color-alt: #ebeaea; // Gris claro
$text-color: #343a40; // Gris oscuro
$font-family: 'Roboto', sans-serif;
$font-family-alt: 'Figtree', sans-serif;
$font-family-titles: 'Tilt Neon', sans-serif;
$font-family-brand: 'knewave', sans-serif;


