// Define color variables
$primary-color: #9ac5c2; // Verde colab
$secondary-color: #6c757d; // Gris
$tertiary-color: #013f81; // Azul
$background-color: #f8f9fa; // Blanco
$background-color-alt: #ebeaea; // Gris claro
$text-color: #343a40; // Gris oscuro
$font-family: 'Roboto', sans-serif;
$font-family_alt: 'Figtree', sans-serif;
$font-family_titles: 'Tilt Neon', sans-serif;

// Smooth scrolling
html {
    scroll-behavior: smooth;
}